<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>

    <header class="masthead">
      <div class="row">
        <div class="large-12 columns text-center">
          <img src="{{ site.baseurl }}/public/profile.jpg" alt="Alexandria Holthaus" class="profile-pic">
          <h1>Holthaus for House</h1>
          <p class="tagline">Putting People First</p>
          <nav>
            <ul class="nav">
              <li><a href="{{ site.baseurl }}/#about">About</a></li>
              <li><a href="{{ site.baseurl }}/#platform">Platform</a></li>
              <li><a href="{{ site.baseurl }}/#volunteer">Volunteer</a></li>
              <li><a href="{{ site.baseurl }}/#donate">Donate</a></li>
              <li><a href="{{ site.baseurl }}/#contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main class="content">
      {{ content }}
    </main>

    <footer class="text-center">
      <ul class="social-icons">
        <li><a href="mailto:alexandriaholthaus@gmail.com"><i class="fa fa-envelope"></i></a></li>
        <li><a href="https://www.linkedin.com/in/alexandria-holthaus/"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </footer>

  </body>
</html>
